################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TPI-BDI-Grupo17/obj/Debug
/.vs
